.embed-card.embed-blogcard{
    max-width: 100% !important;
}

.embed-card.embed-webcard{
    max-width: 100% !important;
}

div.entry-content img{
    border-radius: 4px;
    border:2px solid #222 !important;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

.entry-content p iframe{
    display:block;
    margin-left:auto;
    margin-right: auto;
}

.entry-content img {
  max-width: 100%;
  max-height: 600px;
  box-shadow: 0 0;
  transition: all 0.3s;
}
.entry-content img:hover {
  box-shadow: 0 4px 8px 2px rgba(0,0,0,0.2);
  transform: scale(1.01);
  transition: all 0.3s;
}

div.page-embed.hatena-web-card{
    height: 155px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #222831;
    /*background-color: #f3f6f9;*/
}

div.page-embed.hatena-web-card div.embed-wrapper-inner{
    padding: 12px;
}

div.page-embed.hatena-web-card div.embed-content.with-thumb{
    height: 100px;
    overflow: hidden;
    position: relative;
}

div.page-embed.hatena-web-card div.embed-content.with-thumb .thumb-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
div.page-embed.hatena-web-card div.embed-content.with-thumb .thumb-wrapper .thumb{
    width: auto;
    max-width: 200%;
    height: 100px;
    border: none !important;
    display:block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

div.page-embed.hatena-web-card div.embed-content.with-thumb .entry-body{
    margin-right: 110px;
}
div.page-embed.hatena-web-card div.embed-content.with-thumb .entry-body .entry-title{
    font-size: 15px;
    margin: 0 0 2px;
    line-height: 1.4;
    max-height: 47px;
    overflow: hidden;
    border: none;
}

div.page-embed.hatena-web-card div.embed-content.with-thumb .entry-body .entry-content{
    line-height: 1.5;
    font-size: 12px;
    max-height: 72px;
    overflow: hidden;
    border: none;
    padding-bottom:0;
}

div.page-embed.hatena-web-card div.embed-footer{
    margin-top: 8px;
    height: 15px;
    position: relative;
    font-size: 11px;
}

div.page-embed.hatena-web-card div.embed-footer img.favicon{
    width:16px;
    height: 16px;
    display: inline;
    vertical-align: middle;
    border: none !important;
}

/* Font Awesome hatena bookmark */
.fa-hatena:before {
    content: "B!";
    font-family: Verdana;
    font-weight: bold
}

.archive-list-wrap{
    font-size: 1.4em;
    margin: 40px 0 5px 0;
}

#table-of-contents ul {
    margin-top: 0.9em;
    list-style-type: disc;
    /*padding-left: 1.5em;*/
}

#table-of-contents h4 {
    margin-bottom: 0;
}

#table-of-contents ul ul {
    /*list-style-type: none;*/
    margin-left: 0;
}

